:root {
  --big-border-radius: 25px;
  --blue-1: rgb(157, 154, 252);
  background-color: rgb(255, 242, 238);
  color: rgb(29, 8, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
body {
  height: 100vh;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  gap: 1rem;
}

.victory.screen,
.header,
.footer,
.scores,
.score,
body,
.boards,
.boards > *,
.square {
  display: grid;
}
.header,
.footer {
  background-color: var(--blue-1);
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.footer {
  height: 3rem;
}
.header {
  height: 7rem;
  font-size: 1.5rem;
}
.scores {
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
}
.player-1.score,
.player-2.score {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.boards {
  grid-template-columns: 1fr 1fr;
}
.boards > *,
.ship.placement > .player-1,
.ship.direction > .direction {
  grid-template-columns: repeat(10, auto);
  background-color: var(--blue-1);
  background-image: radial-gradient(
    rgba(161, 255, 250, 0.2),
    rgba(74, 7, 136, 0.4)
  );
  grid-template-rows: repeat(10, auto);
  align-content: center;
  justify-content: center;
}
.boards > * > *,
.ship.placement > .player-1 > * {
  border: solid 1px black;
}
.square {
  /*background-color: var(--blue-1);
*/
  width: 3vw;
  height: 3vw;
  align-items: center;
  justify-content: center;
}
.miss {
  background-color: rgba(243, 124, 88, 0.7);
}
.hit {
  background-color: rgba(173, 255, 188, 0.7);
}
.square:hover {
  background-color: rgba(126, 188, 137, 0.7);
}
.has-ship {
  border: dotted white 1px;
}
.b1,
.b2 {
  background-image: radial-gradient(
    rgba(73, 67, 95, 0.2),
    rgba(201, 182, 153, 1)
  );
}
.c1 {
  background-image: radial-gradient(
    rgba(73, 67, 95, 0.2),
    rgba(127, 166, 173, 1)
  );
}
.d1,
.d2,
.d3 {
  background-image: radial-gradient(
    rgba(73, 67, 95, 0.2),
    rgba(195, 156, 233, 1)
  );
}
.s1,
.s2,
.s3,
.s4 {
  background-image: radial-gradient(
    rgba(73, 67, 95, 0.2),
    rgba(143, 115, 245, 1)
  );
}
.pb1,
.pb2,
.pb3,
.pb4,
.pb5 {
  background-image: radial-gradient(
    rgba(73, 67, 95, 0.2),
    rgba(177, 214, 238, 1)
  );
}
.boards {
  box-sizing: content-box;
  --border-1: solid 5px rgb(0, 119, 128);
  --border-2: solid 5px rgb(8, 56, 75);
  padding: 25px;
  gap: 75px;
  position: relative;
  width: fit-content;
  border-radius: var(--big-border-radius);
  border-bottom: var(--border-1);
  border-right: var(--border-1);
  border-left: var(--border-2);
  border-top: var(--border-2);
}
.hid {
  visibility: hidden;
}
.text {
  color: white;
}
.victory.screen > * {
  border: 0px;
}
.ship.placement > .player-1 {
  display: grid;
}
.ship.direction {
  z-index: 1;
}
.ship.direction > .direction {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.up {
  grid-column-start: 2;
}
.left,
.right {
  grid-row-start: 2;
}
.right {
  grid-column-start: 3;
}
.down {
  grid-row-start: 3;
  grid-column-start: 2;
}
.up,
.left,
.right,
.down {
  border: solid black 1px;
  font-size: 3vw;
}
.victory.screen,
.ship.placement,
.ship.direction {
  display: grid;
  left: -2px;
  top: -2px;
  border-radius: var(--big-border-radius);
  padding: 2px;
  font-size: 1.1rem;
  gap: 0.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
